In [12]:
import pandas as pd
import numpy as np

unknown_injury = 0
df = pd.DataFrame()
for year in range(1975,2019,1):
    print()
    print('YEAR',year)
    acc = pd.read_csv('Data/{}/Accident.csv'.format(year), encoding = "ISO-8859-1")
    acc.head()
    acc_keys = set(acc.keys())

    veh = pd.read_csv('Data/{}/Vehicle.csv'.format(year), encoding = "ISO-8859-1")
    veh.head()
    veh_keys = set(veh.keys())

    per = pd.read_csv('Data/{}/PERSON.csv'.format(year), encoding = "ISO-8859-1")
    per_keys = set(per.keys())
    
    per_acc = per_keys.intersection(acc_keys)
    per_veh = per_keys.intersection(veh_keys)
    veh_acc = veh_keys.intersection(acc_keys)
    
    whole = pd.merge(per, veh, on=list(per_veh), how='left')
    whole = pd.merge(whole, acc, on=list(per_acc), how='left')
    
    try:
        print('test',np.sum(whole['MAN_REST'] == 1))
    except:
        whole['MAN_REST'] = whole['REST_USE']
        print('test',np.sum(whole['MAN_REST'] == 1))

    try:
        print('test',np.sum(whole['VE_FORMS'] == 1))
    except:
        whole['VE_FORMS'] = whole['PVE_FORMS']
        print('test',np.sum(whole['MAN_REST'] == 1))

    try:
        print('test',np.sum(whole['IMPACT1'] == 1))
    except:
        whole['IMPACT1'] = whole['PIMPACT1']
        print('test',np.sum(whole['IMPACT1'] == 1))


    keep_lst = ['AGE','SEX']
 

    toddler = whole.copy()    
    toddler['Lap Belt'] = 1*((toddler['MAN_REST'] == 2) + (toddler['MAN_REST'] == 3))

    toddler['Shoulder Belt'] = 1*((toddler['MAN_REST'] == 1) + (toddler['MAN_REST'] == 3))
    toddler['Car Seat'] = 1*((toddler['MAN_REST'] == 4) + (toddler['MAN_REST']  >= 10))
    toddler = toddler[toddler['AGE'] >= 2]
    toddler = toddler[toddler['AGE'] <= 6]
    print('2-6:', toddler.shape[0])
    toddler = toddler[toddler['SEAT_POS'] >= 1]  # in car only
    print('In Car:', toddler.shape[0])
    A = toddler.shape[0]
    toddler = toddler[toddler['INJ_SEV'] <= 4]
    print('Known Injury Level:', toddler.shape[0])
    unknown_injury = unknown_injury + A - toddler.shape[0]
    toddler['Fatal'] = 1*(toddler['INJ_SEV']==4)
    keep_lst.append('Fatal')
    toddler['Serious Injury+'] = 1*(toddler['INJ_SEV']>=3)
    keep_lst.append('Serious Injury+')
    toddler['Light Injury+'] = 1*(toddler['INJ_SEV']>=2)
    keep_lst.append('Light Injury+')
    toddler['Minor Injury+'] = 1*(toddler['INJ_SEV']>=1)
    keep_lst.append('Minor Injury+')
    toddler['Ejected'] = 1*((toddler['EJECTION'] == 1) + (toddler['EJECTION'] == 2))
    keep_lst.append('Ejected')
    toddler['Thrown'] = 1*(toddler['EJECTION'] == 1)
    keep_lst.append('Thrown')
    toddler['Vehicles Involved (not parked)'] = toddler['VE_FORMS']
    keep_lst.append('Vehicles Involved (not parked)')
    
    # Get collision type...
    toddler['Front Col'] = 1*((toddler['IMPACT1']==11)+(toddler['IMPACT1']==12)+(toddler['IMPACT1']==1))
    keep_lst.append('Front Col')

    toddler['Rear Col'] = 1*((toddler['IMPACT1']==7)+(toddler['IMPACT1']==6)+(toddler['IMPACT1']==5))
    keep_lst.append('Rear Col')

    toddler['Side Col'] = 1*( (toddler['IMPACT1']==2)+(toddler['IMPACT1']==3)+(toddler['IMPACT1']==4) + (toddler['IMPACT1']==8)+(toddler['IMPACT1']==9)+(toddler['IMPACT1']==10) + ((toddler['IMPACT1']>=61) & (toddler['IMPACT1']<=99)))
    keep_lst.append('Side Col')

    toddler['SCH_BUS'] = toddler['SCH_BUS'].fillna('')
    toddler = toddler[toddler['SPEC_USE']==0]  # just cars!
    
#     toddler['Striking'] = 1*((toddler['IMPACTS']==1) + (toddler['IMPACTS']==3))
#     toddler['Struck'] = 1*((toddler['IMPACTS']==2) + (toddler['IMPACTS']==3))
#     keep_lst.append('Striking')
#     keep_lst.append('Struck')
    
    toddler['Fire'] = 1*(toddler['FIRE_EXP']!=0)
    keep_lst.append('Fire')
    
    toddler = toddler[toddler['PER_TYP']==2]  # toddlers should not be driving
    
    
    toddler['Front Seat'] = 1*((toddler['SEAT_POS']>=1) & (toddler['SEAT_POS']<=3))
    keep_lst.append('Front Seat')
    try:
        toddler['Air Bag'] = 1*((toddler['AIR_BAG']==2)+(toddler['AIR_BAG']==3)+(toddler['AIR_BAG']==7)+(toddler['AIR_BAG']==8))
    except:
        toddler['Air Bag'] = 0
    
    try:
        toddler['SP_LIMIT'].head()
    except:
        toddler['SP_LIMIT'] = toddler['VSPD_LIM']
    keep_lst.append('SP_LIMIT')
    keep_lst.append('Air Bag')
    
    # do it
    toddler = toddler[keep_lst]
    df = pd.concat([df,toddler])    
    print(df.shape)
df.head()

YEAR 1975
test 102
test 48620
test 6628
2-6: 3798
In Car: 2731
Known Injury Level: 2720
(2707, 16)

YEAR 1976
test 75
test 49364
test 6360
2-6: 3621
In Car: 2626
Known Injury Level: 2623
(5310, 16)

YEAR 1977
test 103
test 50111
test 6840
2-6: 3562
In Car: 2653
Known Injury Level: 2647
(7942, 16)

YEAR 1978
test 103
test 50111
test 6840
2-6: 3562
In Car: 2653
Known Injury Level: 2647
(10574, 16)

YEAR 1979
test 124
test 51210
test 8901
2-6: 3279
In Car: 2441
Known Injury Level: 2434
(12987, 16)

YEAR 1980
test 134
test 53141
test 7606
2-6: 2925
In Car: 2180
Known Injury Level: 2163
(15141, 16)

YEAR 1981
test 114
test 50559
test 8561
2-6: 3043
In Car: 2371
Known Injury Level: 2359
(17492, 16)

YEAR 1982
test 118
test 47652
test 7853
2-6: 2877
In Car: 2262
Known Injury Level: 2245
(19663, 16)

YEAR 1983
test 140
test 45771
test 7512
2-6: 2957
In Car: 2351
Known Injury Level: 2340
(21909, 16)

YEAR 1984
test 216
test 46819
test 8290
2-6: 2954
In Car: 2381
Known Injury Level: 2369
(24173, 16)

YEAR 1985
test 307
test 45611
test 7921
2-6: 3081
In Car: 2489
Known Injury Level: 2459
(26622, 16)

YEAR 1986
test 142
test 48941
test 7874
2-6: 3282
In Car: 2673
Known Injury Level: 2636
(29251, 16)

YEAR 1987
test 49
test 48958
test 7454
2-6: 3524
In Car: 2939
Known Injury Level: 2906
(32147, 16)

YEAR 1988
test 55
test 49453
test 7361
2-6: 3538
In Car: 2960
Known Injury Level: 2899
(35038, 16)

YEAR 1989
test 54
test 47540
test 7119
2-6: 3564
In Car: 3053
Known Injury Level: 3028
(38051, 16)

YEAR 1990
test 202
test 47629
test 7667
2-6: 3426
In Car: 2937
Known Injury Level: 2917
(40956, 16)

YEAR 1991
test 312
test 44264
test 6963
2-6: 3251
In Car: 2798
Known Injury Level: 2792
(43727, 16)

YEAR 1992
test 275
test 41584
test 6530
2-6: 3228
In Car: 2794
Known Injury Level: 2774
(46487, 16)

YEAR 1993
test 463
test 41978
test 6051
2-6: 3292
In Car: 2853
Known Injury Level: 2835
(49315, 16)

YEAR 1994
test 776
test 41685
test 6442
2-6: 3392
In Car: 2954
Known Injury Level: 2944
(52238, 16)

YEAR 1995
test 660
test 43179
test 6077
2-6: 3503
In Car: 3104
Known Injury Level: 3090
(55317, 16)

YEAR 1996
test 681
test 42818
test 5577
2-6: 3599
In Car: 3192
Known Injury Level: 3182
(58495, 16)

YEAR 1997
test 595
test 42206
test 5520
2-6: 3313
In Car: 2992
Known Injury Level: 2970
(61459, 16)

YEAR 1998
test 554
test 41970
test 5158
2-6: 3280
In Car: 2976
Known Injury Level: 2947
(64396, 16)

YEAR 1999
test 506
test 41721
test 4817
2-6: 3077
In Car: 2789
Known Injury Level: 2781
(67170, 16)

YEAR 2000
test 540
test 41251
test 4897
2-6: 3047
In Car: 2769
Known Injury Level: 2750
(69916, 16)

YEAR 2001
test 472
test 42133
test 5050
2-6: 2936
In Car: 2724
Known Injury Level: 2710
(72611, 16)

YEAR 2002
test 545
test 42691
test 3868
2-6: 2828
In Car: 2607
Known Injury Level: 2598
(75204, 16)

YEAR 2003
test 490
test 42193
test 4036
2-6: 2888
In Car: 2694
Known Injury Level: 2685
(77872, 16)

YEAR 2004
test 461
test 41673
test 3713
2-6: 2871
In Car: 2680
Known Injury Level: 2664
(80530, 16)

YEAR 2005
test 389
test 42933
test 3770
2-6: 2814
In Car: 2637
Known Injury Level: 2614
(83111, 16)

YEAR 2006
test 399
test 42583
test 3549
2-6: 2609
In Car: 2426
Known Injury Level: 2413
(85507, 16)

YEAR 2007
test 355
test 40922
test 3596
2-6: 2326
In Car: 2179
Known Injury Level: 2168
(87658, 16)

YEAR 2008
test 320
test 38057
test 3410
2-6: 2112
In Car: 1961
Known Injury Level: 1952
(89587, 16)

YEAR 2009
test 306
test 34482
test 3019
2-6: 1997
In Car: 1857
Known Injury Level: 1853
(91423, 16)

YEAR 2010
test 230
test 33674
test 2616
2-6: 1937
In Car: 1812
Known Injury Level: 1803
(93218, 16)

YEAR 2011
test 265
test 33439
test 2704
2-6: 1878
In Car: 1757
Known Injury Level: 1739
(94941, 16)

YEAR 2012
test 194
test 34607
test 2535
2-6: 1931
In Car: 1793
Known Injury Level: 1782
(96706, 16)

YEAR 2013
test 220
test 33401
test 2554
2-6: 1932
In Car: 1791
Known Injury Level: 1775
(98463, 16)

YEAR 2014
test 214
test 32802
test 2388
2-6: 1810
In Car: 1666
Known Injury Level: 1651
(100071, 16)

YEAR 2015
test 196
test 34647
test 2420
2-6: 2015
In Car: 1886
Known Injury Level: 1876
(101918, 16)

YEAR 2016
test 245
test 37177
test 2560
2-6: 2111
In Car: 1979
Known Injury Level: 1959
(103846, 16)

YEAR 2017
test 225
test 35535
test 2918
2-6: 2068
In Car: 1951
Known Injury Level: 1940
(105756, 16)

YEAR 2018
test 278
test 34586
test 2841
2-6: 1944
In Car: 1842
Known Injury Level: 1819
(107530, 16)

,AGE,SEX,Fatal,Serious Injury+,Light Injury+,Minor Injury+,Ejected,Thrown,Vehicles Involved (not parked),Front Col,Rear Col,Side Col,Fire,Front Seat,SP_LIMIT,Air Bag
53,4,2,0,1,1,1,0,0,3,1,0,0,0,1,55.0,0
61,4,1,1,1,1,1,0,0,1,0,0,0,0,1,55.0,0
141,4,1,0,1,1,1,0,0,2,1,0,0,0,1,55.0,0
142,2,1,0,1,1,1,0,0,2,1,0,0,0,1,55.0,0
143,4,2,0,1,1,1,0,0,2,1,0,0,0,0,55.0,0

In [13]:
unknown_injury

705

In [14]:
df.to_csv('Data/toddler.csv', index=False)
df.to_csv('toddler.csv', index=False)