In [1]:
import pandas as pd

acc = pd.read_csv('Data/1975/Accident.csv', encoding = "ISO-8859-1")
acc.head()
acc_keys = set(acc.keys())

veh = pd.read_csv('Data/1975/Vehicle.csv', encoding = "ISO-8859-1")
veh.head()
veh_keys = set(veh.keys())

per = pd.read_csv('Data/1994/PERSON.csv', encoding = "ISO-8859-1")
per_keys = set(per.keys())

In [2]:
per_acc = per_keys.intersection(acc_keys)
per_veh = per_keys.intersection(veh_keys)
veh_acc = veh_keys.intersection(acc_keys)

In [3]:
whole = pd.merge(per, veh, on=list(per_veh), how='left')
whole = pd.merge(whole, acc, on=list(per_acc), how='left')

print(whole.shape[0],per.shape[0])

98945 98945

In [4]:
for key in whole.keys():
    input(key)

STATE
COUNTY
MONTH
DAY
HOUR
MINUTE
VE_FORMS
ROAD_FNC
HARM_EV
MAN_COLL
SCH_BUS
VEH_NO
MAKE
BODY_TYP
MOD_YEAR
ROLLOVER
TOW_VEH
SPEC_USE
EMER_USE
IMPACT1
IMPACT2
IMPACTS
FIRE_EXP
WGTCD_TR
PER_NO
N_MOT_NO
AGE
SEX
PER_TYP
SEAT_POS
LOCATION
EJECTION
EXTRICAT
ALC_DET
DRINKING
INJ_SEV
HOSPITAL
DEATH_MO
DEATH_DA
DEATH_YR
DEATH_HR
DEATH_MN
LAG_HRS
LAG_MINS
P_CF1
P_CF2
P_CF3
WORK_INJ
ST_CASE
MAK_MOD
VIN_WGT
WHLBS_SH
WHLBS_LG
MCYCL_DS
DEATH_TM
CERT_NO
SER_TR
VINA_MOD
VIN_BT
REST_USE
AIR_BAG
EJ_PATH
ALC_RES
DRUGS
DRUG_DET
DRUGTST1
DRUGRES1
DRUGTST2
DRUGRES2
DRUGTST3
DRUGRES3
HIT_RUN_x
MODEL
REG_STAT
J_KNIFE
TRAV_SP
DEFORMED
TOWAWAY
OCUPANTS
DEATHS
VEH_CF1
VEH_CF2
M_HARM
CHAS_TR
VIN_LNGT
VIN_1
VIN_2
VIN_3
VIN_4
VIN_5
VIN_6
VIN_7
VIN_8
VIN_9
VIN_10
FLDCD_TR
MCYCL_TY
DR_PRES
DR_DRINK
L_STATE
L_STATUS
L_RESTRI
DR_TRAIN
VIOL_CHG
PREV_ACC
PREV_SUS
PREV_DWI
PREV_SPD
PREV_OTH
LAST_MO
LAST_YR
FIRST_MO
FIRST_YR
DR_CF1
DR_CF2
DR_CF3
VIN
YEAR
PERSONS
VEHICLES
LAND_USE
CL_TWAY
TA_1_CL
SP_JUR
REL_JUNC
REL_ROAD
ROAD_FLO
NO_LANES
SP_LIMIT
ALIGNMNT
PROFILE
PAVE_TYP
SUR_COND
TRA_CONT
LGT_COND
WEATHER
HIT_RUN_y
C_M_ZONE
NOT_HOUR
NOT_MIN
ARR_HOUR
ARR_MIN
CF1
CF2
CF3
FATALS
DAY_WEEK
DRUNK_DR
CITY
RAIL

In [5]:
whole[['VEH_NO']].head()

   VEH_NO
0       1
1       2
2       3
3       1
4       1

In [6]:
import numpy as np
unknown_injury = 0

try:
    print('test',np.sum(whole['MAN_REST'] == 1))
except:
    whole['MAN_REST'] = whole['REST_USE']
    print('test',np.sum(whole['MAN_REST'] == 1))
    
try:
    print('test',np.sum(whole['VE_FORMS'] == 1))
except:
    whole['VE_FORMS'] = whole['PVE_FORMS']
    print('test',np.sum(whole['MAN_REST'] == 1))
    
try:
    print('test',np.sum(whole['IMPACT1'] == 1))
except:
    whole['IMPACT1'] = whole['PIMPACT1']
    print('test',np.sum(whole['IMPACT1'] == 1))
    

keep_lst = ['AGE','SEX']
    
toddler = whole.copy()    
toddler['Lap Belt'] = 1*((toddler['MAN_REST'] == 2) + (toddler['MAN_REST'] == 3))
keep_lst.append('Lap Belt')
toddler['Shoulder Belt'] = 1*((toddler['MAN_REST'] == 1) + (toddler['MAN_REST'] == 3))
keep_lst.append('Shoulder Belt')
toddler['Car Seat'] = 1*((toddler['MAN_REST'] == 4) + (toddler['MAN_REST']  >= 10))
keep_lst.append('Car Seat')
toddler = toddler[toddler['AGE'] >= 2]
toddler = toddler[toddler['AGE'] <= 6]
print('2-6:', toddler.shape[0])
toddler = toddler[toddler['SEAT_POS'] >= 1]  # in car only
print('In Car:', toddler.shape[0])
A = toddler.shape[0]
toddler = toddler[toddler['INJ_SEV'] <= 4]
print('Known Injury Level:', toddler.shape[0])
unknown_injury = unknown_injury + A - toddler.shape[0]
toddler['Fatal'] = 1*(toddler['INJ_SEV']==4)
keep_lst.append('Fatal')
toddler['Serious Injury+'] = 1*(toddler['INJ_SEV']>=3)
keep_lst.append('Serious Injury+')
toddler['Light Injury+'] = 1*(toddler['INJ_SEV']>=2)
keep_lst.append('Light Injury+')
toddler['Minor Injury+'] = 1*(toddler['INJ_SEV']>=1)
keep_lst.append('Minor Injury+')
toddler['Front Seat'] = 1*(toddler['SEAT_POS']<=3)
keep_lst.append('Front Seat')
toddler['Ejected'] = 1*((toddler['EJECTION'] == 1) + (toddler['EJECTION'] == 2))
keep_lst.append('Ejected')
toddler['Thrown'] = 1*(toddler['EJECTION'] == 1)
keep_lst.append('Thrown')
toddler['Vehicles Involved (not parked)'] = toddler['VE_FORMS']
keep_lst.append('Vehicles Involved (not parked)')


toddler = toddler[['AGE','SEX','Lap Belt','Shoulder Belt','Car Seat',
                   'Fatal', 'Serious Injury+','Light Injury+', 'Minor Injury+',
                   'Front Seat','Ejected','Thrown', 'Vehicles Involved (not parked)']]

toddler[toddler['Lap Belt']>0].head()
    
toddler = whole.copy()    
toddler['Lap Belt'] = 1*((toddler['MAN_REST'] == 2) + (toddler['MAN_REST'] == 3))

toddler['Shoulder Belt'] = 1*((toddler['MAN_REST'] == 1) + (toddler['MAN_REST'] == 3))
toddler['Car Seat'] = 1*((toddler['MAN_REST'] == 4) + (toddler['MAN_REST']  >= 10))
toddler = toddler[toddler['AGE'] >= 2]
toddler = toddler[toddler['AGE'] <= 6]
print('2-6:', toddler.shape[0])
toddler = toddler[toddler['SEAT_POS'] >= 1]  # in car only
print('In Car:', toddler.shape[0])
A = toddler.shape[0]
toddler = toddler[toddler['INJ_SEV'] <= 4]
print('Known Injury Level:', toddler.shape[0])
unknown_injury = unknown_injury + A - toddler.shape[0]
toddler['Fatal'] = 1*(toddler['INJ_SEV']==4)
toddler['Serious Injury+'] = 1*(toddler['INJ_SEV']>=3)
toddler['Light Injury+'] = 1*(toddler['INJ_SEV']>=2)
toddler['Minor Injury+'] = 1*(toddler['INJ_SEV']>=1)
toddler['Front Seat'] = 1*(toddler['SEAT_POS']<=3)
toddler['Ejected'] = 1*((toddler['EJECTION'] == 1) + (toddler['EJECTION'] == 2))
toddler['Thrown'] = 1*(toddler['EJECTION'] == 1)
toddler['Vehicles Involved (not parked)'] = toddler['VE_FORMS']

# Get collision type...
toddler['Front Col'] = 1*((toddler['IMPACT1']==11)+(toddler['IMPACT1']==12)+(toddler['IMPACT1']==1))
keep_lst.append('Front Col')

toddler['Rear Col'] = 1*((toddler['IMPACT1']==7)+(toddler['IMPACT1']==6)+(toddler['IMPACT1']==5))
keep_lst.append('Rear Col')

toddler['Side Col'] = 1*( (toddler['IMPACT1']==2)+(toddler['IMPACT1']==3)+(toddler['IMPACT1']==4) + (toddler['IMPACT1']==8)+(toddler['IMPACT1']==9)+(toddler['IMPACT1']==10) + ((toddler['IMPACT1']>=61) & (toddler['IMPACT1']<=99)))
keep_lst.append('Side Col')



toddler = toddler[keep_lst]

toddler[toddler['Lap Belt']>0].head()

test 776
test 41685
test 6442

C:\Users\darin\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:183: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

2-6: 3392
In Car: 2954
Known Injury Level: 2944
2-6: 3392
In Car: 2954
Known Injury Level: 2944

,AGE,SEX,Lap Belt,Shoulder Belt,Car Seat,Fatal,Serious Injury+,Light Injury+,Minor Injury+,Front Seat,Ejected,Thrown,Vehicles Involved (not parked),Front Col,Rear Col,Side Col
105,6,2,1,1,0,0,0,0,1,0,0,0,2,1,0,0
315,5,1,1,0,0,0,1,1,1,0,0,0,2,1,0,0
395,4,1,1,1,0,0,0,0,1,0,0,0,2,1,0,0
573,6,2,1,1,0,1,1,1,1,0,0,0,2,0,0,1
682,5,1,1,1,0,0,1,1,1,0,0,0,2,1,0,0

In [7]:
toddler[toddler['Rear Col'] > 0].head()

,AGE,SEX,Lap Belt,Shoulder Belt,Car Seat,Fatal,Serious Injury+,Light Injury+,Minor Injury+,Front Seat,Ejected,Thrown,Vehicles Involved (not parked),Front Col,Rear Col,Side Col
1026,6,2,1,1,0,1,1,1,1,0,0,0,3,0,1,0
1854,2,1,0,0,1,0,0,1,1,0,0,0,4,0,1,0
2394,5,1,0,0,0,0,1,1,1,0,0,0,3,0,1,0
4098,3,1,1,0,0,0,0,0,0,0,0,0,2,0,1,0
4099,5,2,1,0,0,0,0,0,0,0,0,0,2,0,1,0

In [8]:
whole[whole['HARM_EV']==30][['MAN_COLL']].head()

     MAN_COLL
92          0
199         0
200         0
231         0
232         0

In [9]:
set(whole['IMPACT1'].fillna(''))

{'',
 0.0,
 1.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 99.0}